<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OurApp | Welcome Page</title>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="style2.css" rel="stylesheet" />
</head>


<body>
    <header class="header-bar">
        <!-- <div class="container d-flex flex-column flex-md-row align-items-center p-3"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "nav">
            <h4 class="mt-0 mb-3 mr-md-auto font-weight-normal ml-lg-5 d-flex flex-column flex-md-row align-items-center p-2"><a href="/" class="text-white">OurApp</a></h4>
            <form class="form-inline mr-lg-5 pt-2">
                <input type="text" class="form-control form-control-sm input-dark mr-sm-2 " id="inputusername" placeholder="Username" placeholder = ".col-lg-4">
                <input type="password" class="form-control form-control-sm input-dark mr-sm-2 " id="inputPassword" placeholder="Password">
                <button type="submit" class="btn btn-primary pd">Sign In</button>
            </form>
        </nav>
    </header>

</body>