<!-- <!doctype html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href= "/style.css" rel="stylesheet" type="text/css" />
    <title><%= title %></title>

    <!-- <script type = "text/javascript">
        function changeHashOnLoad() {
            window.location.href += "http://localhost:4000/home-guest";
            setTimeout("changeHashAgain()", "50");
        }
    
        function changeHashAgain() 
        {          
            window.location.href += "1";
        }
    
        var storedHash = window.location.hash;
        window.setInterval(function () {
            if (window.location.hash != storedHash) {
                window.location.hash = storedHash;
            }
        }, 50);
    
        </script> -->
    <script type = "text/javascript">
        var ct = 0;
        function msgprint() {
            console.log(ct);
            
            if(window.location.href !== "http://localhost:4000/home-guest" && ct ===0){
                ct = 1;
                window.location.href = "http://localhost:4000/error";
            }
           
        }
    </script>
    <!-- <script type="text/javascript">
        function ClearHistory()
        {
            console.log(history.length);
             window.location.href = 'https://www.instagram.com/'
        }
    </script> -->
    <script>
        setTimeout(function() {
            var elem = document.getElementById("msg");
            elem.parentNode.removeChild(elem);
        }, 2000);
    </script>
    
</head>

<% if(!user) {%>
    <body onLoad="javascript: msgprint()" >
<% } %>  

<body >
<header class="header-bar">
    <!-- <div class="container d-flex flex-column flex-md-row align-items-center p-3"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "nav">
        <h4 class="mt-0 mb-3 mr-md-auto font-weight-normal ml-lg-5 d-flex flex-column flex-md-row align-items-center p-2"><a href="/" class="text-white">OurApp</a></h4>
        
           <% if(user) {%>
                <div class="flex-row my-3 my-md-0">
                    <a href="#" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-search"></i></a>
                    <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment"></i></span>
                    <a  class="mr-2"><img title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px;" src= "<%= user.avatar %>.jpg"></a>
                    <a href="/post-create"><button type="button" class="btn btn-success mr-sm-2" >Create Post</button> </a>
                    <form action="/logout" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-secondary mr-lg-5" onclick = "msgprint()" >Sign Out</button>
                    </form>
                </div>
            
            <% }else{ %>

                
                <form  action="/signin" method="POST" class="form-inline mr-lg-5 pt-2">
                    <input type="text" class="form-control form-control-sm input-dark mr-sm-2 " id="inputusername" name = "username" placeholder="Username" placeholder = ".col-lg-4">
                    <input type="password" class="form-control form-control-sm input-dark mr-sm-2 " id="inputPassword"  name = "password" placeholder="Password" minlength="8" required>
                    <button type="submit" class="btn btn-primary pd">Sign In</button>
                </form>

            <% } %> 

        
    </nav>
</header>

