<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OurApp | Welcome Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="style2.css" rel="stylesheet" />
</head>

<body>
    <header class="header-bar mb-3 ">
        <!-- <div class="container d-flex flex-column flex-md-row align-items-center p-3"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h4 class="mt-0 mb-2 mr-md-auto font-weight-normal ml-lg-5 d-flex flex-column flex-md-row align-items-center p-2"><a href="/" class="text-white">OurApp</a></h4>
            <div class="flex-row my-3 my-md-0">
            <a href="#" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-search"></i></a>
                <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment"></i></span>
                <a href="#" class="mr-2"><img title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px;" src="<%= user.avatar %>"></a>
            <button type="button" class="btn btn-success mr-sm-2">Create Post</button>
            <button type="button" class="btn btn-secondary mr-lg-5">Sign Out</button>
        </div>
        </nav>
    </header>
</body>