<%- include("./partials/header.ejs") %>

  <div class="not-found py-md-5">
    <%- include('./partials/flash') %>
    <p>OOPS, page not found :)</p>
  </div>

  <%- include("./partials/footer.ejs") %>

