<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our App</title>
</head>
<body>
  <h1>404 - OOPS!</h1>
  <h2>That page does not exist</h2>
  <%- include("./partials/footer.ejs") %>
</body>
</html>



<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, page not found :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
