<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OurApp | Create Post</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet" />
</head>

<body>

  <div class="create-post py-md-5 ">
    <form>
        <div class = "form-group">
            <label class="form-label " for="title"><small>Title</small></label>
            <input type="text" class="form-control form-control-title" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="body"><small>Blog Content</small></label>
            <textarea id="body" class="form-control"name="body" required></textarea>
        </div>
      <button type="button" class="btn btn-primary"><small>Save new post</small></button>
    </form>
  </div>

</body>
</html>