@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body, .tooltip{
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
} 

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

p {
    color:lightslategray;
}
.not-found{
  text-align: center;
  margin-top: 32px;
}
.dashboard {
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
}

.forms{
    font-size: 13px;
    column-width: 400px;
}

footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}

.header-bar {
    background-color: #292929;
}

.navbar--narrow {
    max-width: 732px;
  }


/* create styles */
.create-post form{
    max-width: 800px;
    margin: 0 auto;
  }
  .create-post input,
  .create-post textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  .create-post label{
    display: block;
    margin-top: 24px;
  }
  .form-control-title {
    font-size: 22px;
    font-weight: 500;
    color: darkgrey;
  }
  /* .form-group {
    position: relative;
  } */
  /* .form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
} */
  textarea{
    height: 120px;
  }
  @media (min-width: 640px) {
    textarea.tall-textarea {
      height: 320px;
    }
  }
  .create-post button{
    margin-top: 20px;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
  }

#nav {
    padding-bottom: 0px;
    padding-top: 7px;
}

footer{
    border-top: 1px solid lightgray ;
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}